*{
    margin: 0;

}
body{
    box-sizing: border-box;
}
h1{
    font-size: 80px;
    font-weight: 700;
}
p{
    font-size: 35px;
    font-weight: 400;
}
.btn{
    width: 250px;
    height: 70px;
    border: solid black 1px;
}
.btn:hover{
    background-color: #008000;
 
}